<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>{{title}}</title>
      <link
              rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      >
      <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
  <main class="container">
    {{{body}}}
  </main>
  </body>
<footer>
    <span>Styled using PicoCSS</span>
</footer>
</html>
