body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

summary {
  font-weight: bold;
}

#last-updated{
  text-align: center;
}

footer{
  font-size: .8rem;
  text-align: center;
  color: darkgrey;
}

footer a{
  color: darkgrey;
}

